// 배경 색
$skill: #7972a0;
$small: #9ea2d3;
$main: #9a9fd9;
$code: #f0eff5;

// 중단점 변수
$breakpoints: (
  "basic": (
    min-width: 551px
  ),
  "small": (
    max-width: 550px
  ),
  "medium": (
    max-width: 850px
  ),
  "large": (
    max-width: 1100px
  )
);
