// 배경 색
// $skill: #685e92;
$skill: #7972a0;
$main: #9a9fd9;
// $d: #b8bce4;
// $project: rgb(31, 20, 51);
$project: #282535;
$code: #f0eff5;
$main-bg: #ddd7ff;
// $main-bg: #f4f0fb;
$item-bg: #d5d1f0;
$pic-bg: #f1effe;
$progress-bg: rgb(199, 189, 255);
$modal-bg: rgb(127, 121, 163);

// 중단점 변수
$breakpoints: (
  "small": (
    max-width: 479px
  ),
  "medium": (
    max-width: 767px
  ),
  "1100": (
    max-width: 1100px
  )
);
