@charset "utf-8";
@import url("reset.css");
@import "_mixins.scss";
@import "_variables.scss";

// 기본 스타일

body {
  min-width: 325px;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}

// 헤더
.header {
  border-top: 7px solid $item-bg;
  &__logo {
    display: block;
    width: 42px;
    margin: 0 auto;
    padding: 45px;
    &::after {
      display: inline-block;
      content: "";
      background-image: url("../images/logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 42px;
      height: 42px;
    }
  }
}

// main
.main {
  height: calc(100% - 150px);
  // margin-top: 30px;
  &__project,
  &__about {
    display: grid;
    grid-gap: 40px 5px;
    grid-template-columns: repeat(8, 1fr);
  }
  &__project {
    &--title {
      height: 100%;
      writing-mode: vertical-lr;
      border-left: 5px solid $main-bg;
      padding-left: 1px;
      margin-left: -10px;
      grid-column: 2 / span 1;
    }
    &--item {
      display: block;
      display: flex;
      justify-content: center;
      grid-column: 3 / -3;
      position: relative;
      height: 100%;
      width: 100%;
      figcaption {
        display: none;
      }
      &:hover {
        figcaption {
          display: inline-block;
          position: absolute;
          top: calc(50% - 5px);
          margin: 0 auto;
          font-size: 0.8rem;
          z-index: 1;
          color: white;
          padding-bottom: 3px;
          border-bottom: 1px solid white;
          cursor: pointer;
        }
        &::after {
          border-radius: 1%;
          display: block;
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          background: rgba(0, 0, 0, 0.6);
        }
      }
      img {
        height: 100%;
        width: 100%;
        -webkit-filter: grayscale(100%);
        filter: gray;
      }
    }
  }
  &__about {
    margin-top: 4rem;
    &--title {
      grid-column: 4 / span 2;
      text-align: center;
      padding-bottom: 1px;
      width: 65%;
      margin: 0 auto;
      border-bottom: 5px solid $main-bg;
    }
    &--me {
      grid-column: 2 / -2;
      display: flex;
      line-height: 1rem;
      .pic {
        width: 40%;
        height: 100%;
        padding-right: 7px;
        border-right: 3px solid $pic-bg;
      }
      .info {
        font-size: 0.8rem;
        margin: 3px 7px;
        p {
          margin: 5px 0;
        }
        p:nth-child(1) {
          font-size: 0.9rem;
        }
      }
    }
    &--introduce {
      grid-column: 2 / -2;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 0.8rem;
      .title {
        display: inline-block;
        margin: 15px auto 10px;
        padding: 5px 5px 3px;
        border-top: 2px solid $pic-bg;
      }
      .introduce {
        margin-top: 10px;
        border-left: 2px solid $pic-bg;
        padding: 10px 10px 14px;
        p {
          margin-top: 10px;
          text-align: justify;
          line-height: 0.9rem;
        }
      }
    }
    &--skill {
      grid-column: 2 / -2;
      font-size: 0.8rem;
      text-align: center;
      .title {
        display: inline-block;
        margin: 20px 0 25px;
        padding: 5px 5px 3px;
        border-top: 2px solid $pic-bg;
      }
      .skill-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .skill {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 70px;
          margin: 20px 4%;
          @include progress;
        }
        p {
          margin: 10px 5px 0;
          text-align: center;
          position: relative;
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 0.3rem;
            background: rgba(199, 189, 255, 0.3);
            position: absolute;
            bottom: 0;
          }
        }
        .extra {
          margin-top: 15px;
          display: inline-block;
          width: 100%;
          text-align: center;
          color: $progress-bg;
        }
        > p {
          margin-top: 25px;
        }
      }
    }
    &--activity {
      grid-column: 2 / -2;
      font-size: 0.8rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 25px;
      .title {
        display: inline-block;
        margin: 15px auto 30px;
        padding: 5px 5px 3px;
        border-top: 2px solid $pic-bg;
      }
      .study {
        position: relative;
        text-align: center;
        img {
          width: 70%;
          -webkit-filter: grayscale(100%);
          filter: gray;
        }
        p {
          position: absolute;
          writing-mode: vertical-lr;
          right: 10px;
          top: 0;
          border-left: 2px solid $main-bg;
          padding: 3px 3px 5px;
        }
      }
    }
  }
}
// modal
// .modal-container {
//   width: 100%;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.7);
//   position: fixed;
//   top: 0;
//   left: 0;
//   .modal-border {
//     padding: 10px;
//     background-color: white;
//     margin: 30px;
//     border: 4px solid $modal-bg;
//     // border-left: 3px solid $modal-bg;
//     // border-right: 3px solid $modal-bg;
//   }
// }
// footer
.footer {
  display: grid;
  grid-gap: 40px 5px;
  grid-template-columns: repeat(8, 1fr);
  margin: 70px 0 20px;
  font-size: 0.7rem;
  div {
    grid-column: 2 / -2;
    border-top: 5px solid $item-bg;
    padding: 10px 5px;
    a {
      text-decoration: none;
      color: $item-bg;
    }
  }
}

// drag style
::selection {
  background: $main-bg;
}
::-moz-selection {
  background: $main-bg;
}
